.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: none;
  color: #bbb;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  color: #bbb;
}

.login {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}
